  .App {
    height: 100vh;
    display: flex;
    color: white;
  }
.blankSide{
  width: 50%;
  background-color: rgb(6, 139, 156);
  text-align: center; 
  font-size: 35px;
  padding-top: 200px;
}
.formSide{
  width: 50%;
  background-color: rgb(3, 49, 80);
  padding: 25px 40px;
  overflow: auto;

}
.switchBtn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;

}
.switchBtn_Item{
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
 
}
.switchBtn_Item--Active{
  background-color:#5ED0C0;
  color: white;

}
.switchBtn_Item:first-child{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.switchBtn_Item:last-child{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.formTitle{
  color:#707C8B;
  font-weight: 600;
  margin-bottom: 50px;

}
.formTitle_Link{
  color: #707C8B;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  margin: 0px 10px;
}
.formTitle_link:first-child{
  margin-left: 0;
}
.formTitle_Link--Active{
  color: white;
  border-bottom: 1px solid #199087;

}
.fullName{
  display: block;
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
}
.formfield_Input{
  width: 85%;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;

}
.formfield{
  margin-bottom: 35px;
}
.formfield_button{
  background-color: #52C4B9;
  color: white;
  padding: 10px 70px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 30px;
  font-weight: 500;

}
.formfield_Link{
  color: #66707D;
  text-decoration: none;
  border-bottom: 1.5px solid #225E62;
  margin-left: 15px;
}
@media(max-width: 720px){
  .App {
  flex-direction: column;
  }
  .blankSide{
   display: none;
    /* width: 100%; */
  }
  .formSide{
    width: 100%;
  }  
  .switchBtn{
    text-align: right;
    margin-right: 40px; 
  }
  .formfield_button{
    padding: 10px 30px;
  }
}